body{
    background-color:rgb(250, 94, 89);
}

.container{
    width: 400px;
    height: 200px;
    background-color: #fff; 
    margin: 0 auto;
}

.button{
    display: block;
    width: 100px;
    height: 30px;
    background-color:rgb(250, 94, 89);
}

.container{
    padding: 10px 20px 10px 20px;
}

.author{
    display: block;
    color:rgb(250, 94, 89);
}

.quote{
    background-color:rgb(250, 94, 89);
    color: #fff;
}

.box{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.box__content{
    width: 100px;
    text-align: right;
}

.button{
    margin-top: 20px;
    width: 80px;
    height: 30px;
    color: white;
}